#title{
    color: blue;
    font-size: 40px;

}
body{
    background-color: rgb(210, 178, 240);
    font-family: sans-serif;
}
#title{
    color: rgb(30, 110, 39);   
}
.link-nav{
    font-size: 20px;
    color: rgb(127, 10, 181);
}
.link-nav:hover{
    color: brown;
    outline: 2px solid black;
}
.link-nav:active{
    border: 2px solid greenyellow;
}
#show{
    background-color: rgb(101, 185, 254);
    color: aliceblue;
    border: 0;
    border-radius: 10px;     
}
#show:hover{
    outline: 2px solid cornflowerblue;
}
li:first-child{
    color: aquamarine;
}
li:last-child{
    color: purple;
}